{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid main">
    <div class="row">
        <div class="col-xs-12">
            <div class="row center">
                <div class="col-xs-8" id="form">
                    <div id="form-new">
                        <h1>Rechercher</h1>
                        <form name="vendeur" id="vendeur" action="{{ path("page_resultats") }}" method="post">
                            <div id="vendeurs">
                                <div class="col-xs-6 col-form">
                                    <label>Produits</label>
                                    <select id="produits" name="produits">
                                        <option value="ble">Blé</option>
                                        <option value="mais">Maïs</option>
                                        <option value="millet">Millet</option>
                                        <option value="orge">Orge</option>
                                        <option value="riz">Riz</option>
                                        <option value="seigle">Seige</option>
                                        <option value="sorgho">Sorgho</option>
                                    </select>
                                </div>
                                <div class="col-xs-6 col-form col-form-right">
                                    <label id="ville-label">Ville</label>
                                    <input type="text" id="ville" name="ville" required="required" placeholder="Ville" />
                                </div>
                            </div>
                            <input type="submit" value="Rechercher" class="btn btn-default pull-right" id="valid-button"/>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



                        {% endblock %}
