<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ asset('bundles/comparateur/css/style.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
    <header class="container-fluid">
        <div class="row">
            <div class="col-xs-12" id="col-img">
                <img src="{{ asset('bundles/comparateur/img/logo_couleurs_site_grand-01.png') }}" alt="logo" id="logo">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row center">
                    <div class="col-xs-8" id="div-buttons">
                        <div id="buttons">
                            <button id="buy" href="#">Acheteur</button>
                            <button id="sell" href="#">Vendeur</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    {% block body %}{% endblock %}


    <footer class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li><a href="#">Crédits</a></li><span>|</span>
                    <li><a href="#">Mentions légales</a></li><span>|</span>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>
</html>
