h1 {
    color: red;
}

body {
    background-color: white;
}

/********************* BUTTON ************************/
.buy {
    float: right;
}

.sell {
    float: right;
}


/******************** FOOTER **********************/
footer {
    background-color: black;
    text-align: center;
}

footer li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
}

footer li a {
    color: white;
}

footer span {
    color: white;
}